<div class="row" style="width:100%;">
    @foreach (var optionValue in ValueOptions.Options)
    {
        <div @key=optionValue.Description class="col col-12 col-xl-6">
            <big><code>@optionValue.Value</code> @(optionValue.Value == ValueOptions.DefaultOptionValue ? " (default)" : "")</big>
            <br />
            @optionValue.Description
            <HighLightedCode
                Code=@optionValue.Sample
                Language="csharp"
                BorderColor="@(OptionChoice == optionValue.Value ? Color.Green : null)"
                BorderHoverColor="@(OptionChoice != optionValue.Value ? Color.Yellow : null)"
                OnClick="() => SelectOption(optionValue.Value)"/>
        </div>
    }
</div>

@code {
    [Parameter]
    public OneOfManyValueOptions ValueOptions { get; set; }

    [Parameter]
    public Func<string, Task> SelectOption { get; set; }

    [Parameter]
    public string OptionChoice { get; set; }
}
