<ul class="row list-unstyled">
    @foreach (var optionValue in ValueOptions.Options)
    {
        <li @key=optionValue.Description class="col col-12 col-xl-6">
            <div class="fs-5 mt-3">
                <code>@optionValue.Value</code> @(optionValue.Value == ValueOptions.DefaultOptionValue ? " (default)" : "")
            </div>
            <p>@optionValue.Description</p>
            <HighLightedCode
                Code=@optionValue.Sample
                Language="csharp"
                BorderColor="@(OptionChoice == optionValue.Value ? Color.Green : null)"
                BorderHoverColor="@(OptionChoice != optionValue.Value ? Color.Yellow : null)"
                OnClick="() => SelectOption(optionValue.Value)"/>
        </li>
    }
</ul>

@code {
    [Parameter]
    public OneOfManyValueOptions ValueOptions { get; set; }

    [Parameter]
    public Func<string, Task> SelectOption { get; set; }

    [Parameter]
    public string OptionChoice { get; set; }
}
